/*
 *
 * Book_create.html
 *
 */

.book-create {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}

.book-create__authors {

}

.book-create__authors {

}

.book-create__genres {

}

.book-create__h1 {

}

.book-create__h3 {

}

.book-create__ul {
  padding: 0;
}

.book-create__ul__li {
  list-style-type: none;
  padding: 1rem;
}

.book-create__authors .book-create__ul__li {
  padding: .5rem 1rem;
}

.book-create__genres .book-create__ul__li {
  padding: .5rem 1rem;
}

.book-create__label {

}

.book-create__input {
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
}

.book-create__textarea {
  height: 100%;
  margin-top: .5rem;
  padding: .5rem;
}

.book-create__select {
  width: 50%;
}