/*
 *
 * Catalog_category
 *
 */

body {
  background-image: url(../img/bg-02.png);
  background-position: center;
}


.c {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
}

.c-title {

}

.c-title__h1 {

}

.c-add {
  margin-bottom: 1rem;
}

.c-add__a {

}

.c-cat {

}

.c-cat--name {
  width: 50%;
}

.c-cat--library {
  width: 25%;
}

.c-cat--wishlist {
  width: 25%;
}

.c-cat__ul {
padding: 0;
}

.c-cat__ul__li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-bottom: .5rem;
}