/*
 *
 * Catalog_category
 *
 */

body {
  background-image: url(../img/bg-02.png);
  background-position: center;
}

.c {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
}

.c-title {

}

.c-title__h1 {

}

.c-add {
  margin-bottom: 1rem;
}

.c-add__a {

}

.c-cat {

}

.c-cat--name {
  width: 100%;
}

.c-cat--library {
  margin: .5rem 1rem 1rem 0;
}

.c-cat--wishlist {
  margin: .5rem 1rem 1rem;
}

.c-cat__ul {
padding: 0;
}

.c-cat__ul__li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: .5rem;
}


@media screen and (min-width: 768px) {
  .c-cat__ul__li {
    flex-direction: row;
  }
  .c-cat--name {
    width: 50%;
  }
  .c-cat--library {
    margin: 0 1rem;
  }

  .c-cat--wishlist {
    margin: 0 1rem;
  }
}