/*
 *
 * Index.html
 *
 */

body {
  background-image: url(../img/bg-01.png);
  background-position: center;
}

.index {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.index__head {
  height: 80vh;
}

.index__h1 {}

.index__h1--head {
  text-align: center;
  padding: 2em 0;
  font-size: 5rem;
}

.index__h2 {padding-top: 2rem;}
.index__h3 {}
.index__a {}
.index__ul {}
.index__ul__li {
  padding: .5rem;
}

.index__categories {}
.index__category {}
.index__category--books {}
.index__category--authors {}
.index__category--genres {}

/*
 *
 * Media Queries
 *
 */

@media screen and (min-width: 768px) {
  .index__h1--head {
    padding: 2rem;
  }
}