 /* CSS file for following templates: book_create.html, author_create.html, genre_create.html */


.create {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.create--author {}
.create--book {}
.create--genre {}

.create__h1 {}
.create__h3 {}
.create__p {}

.create__ul {
  padding: 0;
}

.create__ul__li {
  list-style-type: none;
  padding: .5rem;
}

.create__books {
  padding: .5rem 1rem;
}

.create__authors {
  padding: .5rem 1rem;
}

.create__genres {
  padding: .5rem 1rem;
}

.create__label {

}

.create__input {
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
}

.create__textarea {
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
}

.create__select {
  width: 50%;
  margin: 0 .5rem;
}

/*
 *
 * Book_create.html
 *
 */


/*
 *
 * Author_create.html
 *
 */


/*
 *
 * Genre_create.html
 *
 */


@media screen and (min-width: 768px) {

  .create {
    width: 66%;
  }


}