/*
 *
 * Item.html
 *
 */

/* CSS file for following templates: book.html, author.html, genre.html */

body {
  background-image: url(../img/bg-03.png);
  background-position: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}

.item--book {}
.item--author {}
.item--genre {}

.item__h1 {}
.item__h3 {}
.item__p {}
.item__a {}
.item__img {}
.item__ul {
  padding: 0;
  margin: 1rem;
}

.item__ul__li:first-child {
  padding-top: 0;
}

.item__ul__li {
  list-style-type: square;
  list-style-position: inside;
  padding: .5rem;
}

.item__head {
  width: 100%;
  padding: 1rem;
}

.item__user {
  width: 100%;
  padding: 1rem;
}

.item__cover {
  width: 100%;
  padding: 1rem;
}

.item__profile {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
}

.item__edit {}
.item__user {}
.item__cover {}

.item__description {}
.item__books {}
.item__authors {}
.item__genres {}

.button--delete.button--library {

}

/*
 *
 * Media Queries
 *
 */

@media screen and (min-width: 768px) {

  .item {
    flex-direction: row;
  }

  .item__cover { 
    order: 1;
    width: 50%;
  }

  .item__head {
    width: 66%;
  }

  .item__user {
    width: 33%;
  }

  .item__cover {
    width: 33%;
    order: 1;
  }

  .item__profile {
    width: 66%;
  }

}