/*
 *
 * Item_delete.html
 *
 */

/* CSS file for following templates: book_delete.html, author_delete.html, genre_delete.html */

.item-delete {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
}

.item-delete__h1 {

}

.item-delete__p {
  
}


@media screen and (min-width: 768px) {

	.item-delete {
		width: 50%;
	}

}