/*
 *
 * Item_edit.html
 *
 */

body {
  background-image: url(../img/bg-03.png);
  background-position: center;
}

.item-edit {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}

.item-edit--book {}
.item-edit--author {}
.item-edit--genre {}

.item-edit__h1 {}
.item-edit__h3 {}
.item-edit__p {}
.item-edit__ul {
  padding: 0;
}
.item-edit__ul__li {
  list-style-type: none;
  padding: 1rem;
}

.item-edit__description {}
.item-edit__books {}
.item-edit__authors {}
.item-edit__genres {}

.item-edit__buttons {}

.item-edit__label {}

.item-edit__input {
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
}

.item-edit__textarea {
  width: 100%;
  height: 7rem;
  margin-top: .5rem;
  padding: .5rem;
}

.item-edit__select {
  width: 50%;
}

.item-edit__buttons {
  
}

@media screen and (min-width: 768px) {



}