/*
 *
 * Login.html
 *
 */

body {
  background-image: url(../img/bg-05.png);
  background-position: center;
}

.login {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.login__h1 {}

.login__img {
  width: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.login__oauths {
  display: flex;
  align-items: baseline;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.login__google {
  width: 50%;
  text-align: center;
}

#button_google {
  cursor: pointer;
}

.login__github {
  width: 50%;
  text-align: center;
}

#button_github {
  cursor: pointer;
  font-size: 96px;
  color: #2c3e50;
}

#button_github:hover {
  color: #7f8c8d;
}

.login__result {
  text-align: center;
  width: 100%;
  padding-top: 3rem;
}

/*
 *
 * Media Queries
 *
 */

@media screen and (min-width: 768px) {
  .login__img {
    width: 25%;
  }
}
