/*
 *
 * Global
 *
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Noto Serif', serif;
  color: #2c3e50;
}

h1 {
  font-size: 3rem;
  line-height: 1.25em;
  margin: 0;
  color: #2980b9;
  padding: 0 0 0.5em;
}

h2 {
  font-size: 2rem;
  line-height: 1.25em;
  margin: 0;
  color: #1abc9c;
  padding: 0 0 0.5em;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25em;
  margin: 0;
  color: #1abc9c;
    padding: 0 0 0.5em;
}

h4 {
  font-size: 1rem;
  line-height: 1.25em;
  margin: 0;
  padding: 0 0 0.5em;
}

p {

}

.serif {
  font-family: 'Noto Serif', serif;
}

.sans {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #7f8c8d;
  text-decoration: none;
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

a:active {
  color: #2c3e50;
}

img {
  max-width: 100%;
}

/*
 *
 * Colors
 *
 */

/* colors from https://www.materialui.co/flatuicolors */
.turq--l {
  color: #1abc9c;
}

.turq--d {
  color: #16a085;
}

.green--l {
  color: #2ecc71;
}

.green-d {
  color: #27ae60;
}

.blue--l {
  color: #3498db;
}

.blue--d {
  color: #2980b9;
}

.red--l {
  color:  #e74c3c;
}

.red--d {
  color:  #c0392b;
}

.white {
  color: #ecf0f1;
}

.gray--l {
  color: #bdc3c7;
  /* color: #95a5a6; */
}

.gray--d {
  color: #7f8c8d;
}

.blk {
  color: #2c3e50;
}

/*
 *
 * Misc. Classes
 *
 */

.hidden {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*
 *
 * Forms
 *
 */


label {

}

input {
  border-radius: 1px;
  border-style: none;
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
}

textarea {
  border-radius: 1px;
  border-style: none;
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
}

select {
  -webkit-appearance: button;
  border-radius: 1px;
  border-style: none;
  background-color: #ecf0f1;
  padding: .25rem;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
}

/*
 *
 * Buttons
 *
 */

.button {
  border-radius: 1px;
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
  border-style: none;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button a {
  color: #7f8c8d;
  text-decoration: none;
}

.button a:hover {
  color: #2980b9;
  text-decoration: none;
}

.button--cancel {
  background-color: #7f8c8d;
  color: #ecf0f1;
  font-size: .9rem;
}

.button--cancel a {
  color: #ecf0f1;
}

.button--cancel a:hover {
  color: #ecf0f1;
}

.button--send {
  background-color: #1abc9c;
}

.button--add {
  background-color:  #2980b9;
  color: #ecf0f1;
}

.button--add:hover {
  background-color: #3498db;
}

.button--add a {
  color: #ecf0f1;
}

.button--add a:hover {
  color: #ecf0f1;
}

.button--edit {
  background-color:  #16a085;
  color: #ecf0f1;
}

.button--edit:hover {
  background-color: #1abc9c;
}

.button--edit a {
  color: #ecf0f1;
}

.button--edit a:hover {
  color: #ecf0f1;
}

.button--delete {
  background-color:  #c0392b;
  color: #ecf0f1;
  /* font-size: .9rem; */
}

.button--delete:hover {
  background-color: #e74c3c;
}

.button--delete a {
  color: #ecf0f1;
}

.button--delete a:hover {
  color: #ecf0f1;
}

/*
 *
 * Nav
 *
 */

.nav__ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.nav__ul__li {
  list-style-type: none;
}


/*
 *
 * Login template
 *
 */

.login {

}

.login__h3 {

}

.login__a {

}

/*
 *
 * Flash template
 *
 */


/*
 *
 * Session section
 *
 */

.session {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.session__h4 {

}

.session__a {

}

.session__img {

}

.session__status {
  width: 50%;
}

.session__user {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
}

.session__login {

}

.session__name {
  padding-right: 1rem;
}

.session__picture {
  /* width: 10%; */
}


/*
 *
 * Main section
 *
 */

.main {
  max-width: 1200px;
  margin: auto;
}


/*
 *
 * Media Queries
 *
 */

@media screen and (min-width: 768px) {


}