{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item_edit.css') }}">
{% endblock %}

{% block title %}{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }} -- Edit{% endblock %}

{% block content %}
	<div class="item-edit item-edit--author">
		<form action="" method="post">
			<div class="item-edit__description">
				<h1 class="item-edit__h1">Edit <br/>{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }}</h1>
				<ul class="item-edit__ul">
					<li class="item-edit__ul__li"><label class="item-edit__label" for="first_name">First Name</label>: <input class="item-edit__input" type="text" name="first_name" placeholder="{{ author.first_name }}"></li>
					<li class="item-edit__ul__li"><label class="item-edit__label" for="last_name">Last Name</label>:  <input class="item-edit__input" type="text" name="last_name" placeholder="{{ author.last_name }}"></li>
					<li class="item-edit__ul__li"><label class="item-edit__label" for="bio">Bio</label>: <textarea class="item-edit__textarea" name="bio" placeholder="{{ author.bio }}"></textarea></li>
				</ul>
			</div>
			<div class="item-edit__books">
				<h3 class="item-edit__h3">Books</h3>
				<ul class="item-edit__ul">
					<li class="item-edit__ul__li">something</li>
				</ul>
			</div>
			<div class="item-edit__buttons">
				<button class="button button--cancel"><a href="{{ url_for('catalog_author', id = author.id) }}">Cancel</a></button>
				<input class="button button--send" type="submit" value="Submit">
			</div>
		</form>
	</div>
{% endblock %}