{% extends "base.html" %}

{% block title %}Author -- Create{% endblock %}

{% block content %}
	<h1>CREATE AN AUTHOR</h1>
	<form action="" method="POST">
		<ul>
			<li><label for="first_name">First Name</label>: <input type="text" name="first_name" placeholder=""></li>
			<li><label for="last_name">Last Name</label>: <input type="text" name="last_name" placeholder=""></li>
			<li><label for="bio">Bio</label>: <input type="text" name="bio" placeholder=""></li>
		</ul>
		<h3>Books</h3>
		<span class="add" id="add_book">ADD</span>
		<ul class="ul_book">
			<li class="author_book">
				<select name="book" id="">
				<option value="">Select a book</option>
				{% for book in books %}
					<option value="{{ book.id }}">{{ book.title }}</option>
				{% endfor %}
				</select>
			</li>
		</ul>
		<button><a href="{{ url_for('catalog_authors') }}">Cancel</a></button>
		<input type="submit" value="Create">
	</form>
	<script>
		let author_book = document.querySelector(".author_book");
		let add_book = document.querySelector("#add_book");

		add_book.addEventListener("click", function(){
			addLI(author_book)
		});

		function addLI(el) {
			let newLi = el.cloneNode(true);
			newLi.innerHTML += '<span class="delete">X</span>'
			el.parentElement.appendChild(newLi);
		}

		document.addEventListener("click", function(e){
			if (event.target.classList.contains('delete')) {
				e.target.parentElement.parentElement.removeChild(e.target.parentElement);
			}
		});
	</script>
{% endblock %}