{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item_edit.css') }}">
{% endblock %}

{% block title %}{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }} -- Edit{% endblock %}

{% block content %}
	<div class="item-edit item-edit--author">
		<form action="" method="post">
			<div class="item-edit__description">
				<h1 class="item-edit__h1">Edit <br/>{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }}</h1>
				<ul class="item-edit__ul">
					<li class="item-edit__ul__li"><label class="item-edit__label" for="first_name">First Name</label>: <input class="item-edit__input" type="text" name="first_name" placeholder="{{ author.first_name }}"></li>
					<li class="item-edit__ul__li"><label class="item-edit__label" for="last_name">Last Name</label>:  <input class="item-edit__input" type="text" name="last_name" placeholder="{{ author.last_name }}"></li>
					<li class="item-edit__ul__li"><label class="item-edit__label" for="bio">Bio</label>: <textarea class="item-edit__textarea" name="bio" placeholder="{{ author.bio }}"></textarea></li>
				</ul>
			</div>
			<div class="item-edit__books">
				<h3 class="item-edit__h3">Books</h3>
				<button class="button button--add" id="add_book">ADD</button>
				<ul class="item-edit__ul" id="ul_book">
					<li class="create__ul__li hidden" id="select_book">
						<select class="create__select" name="book" id="">
						<option class="create__option" value="">Select a book</option>
						{% for book in books %}
							<option class="create__option" value="{{ book.id }}">{{ book.title }}</option>
						{% endfor %}
						</select>
					</li>
					{% for book in author.books %}
						<li class="item-edit__ul__li">{{ book.title }} <button class="button button--delete">X</button></li>
					{% endfor %}
				</ul>
			</div>
			<div class="item-edit__buttons">
				<button class="button button--cancel"><a href="{{ url_for('catalog_author', id = author.id) }}">Cancel</a></button>
				<input class="button button--send" type="submit" value="Submit">
			</div>
		</form>
	</div>
	<script>
		let ul_book = document.querySelector("#ul_book");
		let add_book = document.querySelector("#add_book");

		add_book.addEventListener("click", function(e){
			e.preventDefault();
			let select_book = document.querySelector("#select_book");
			let new_book = select_book.cloneNode(true);
			new_book.classList.toggle('hidden');
			ul_book.appendChild(new_book);
		});
	</script>
{% endblock %}