{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item_create.css') }}">
{% endblock %}

{% block title %}Author -- Create{% endblock %}

{% block content %}
	<div class="create create--author">
		<h1 class="create__h1">CREATE AN AUTHOR</h1>
		<form action="" method="POST">
			<ul class="create__ul">
				<li class="create__ul__li"><label class="create__label" for="first_name">First Name</label>: <input class="create__input" type="text" name="first_name" placeholder=""></li>
				<li class="create__ul__li"><label class="create__label" for="last_name">Last Name</label>: <input class="create__input" type="text" name="last_name" placeholder=""></li>
				<li class="create__ul__li"><label class="create__label" for="bio">Bio</label>: <textarea class="create__textarea" name="bio" id="" rows="5" placeholder="Author Bio"></textarea></li>
			</ul>
			<div class="create__books">
				<h3 class="create__h3">Books</h3>
				<button class="button button--add" id="add_book">ADD</button>
				<ul class="create__ul">
					<li class="create__ul__li" id="author_book">
						<select class="create__select" name="book" id="">
						<option value="">Select a book</option>
						{% for book in books %}
							<option value="{{ book.id }}">{{ book.title }}</option>
						{% endfor %}
						</select>
					</li>
				</ul>
			</div>
			<button class="button button--cancel"><a href="{{ url_for('catalog_authors') }}">Cancel</a></button>
			<input class="button button--send" type="submit" value="Create">
		</form>
	</div>
	<script>
		let author_book = document.querySelector("#author_book");
		let add_book = document.querySelector("#add_book");

		add_book.addEventListener("click", function(){
			e.preventDefault();
			addLI(author_book)
		});

		function addLI(el) {
			let newLi = el.cloneNode(true);
			newLi.innerHTML += '<span class="delete">X</span>'
			el.parentElement.appendChild(newLi);
		}

		document.addEventListener("click", function(e){
			if (event.target.classList.contains('delete')) {
				e.target.parentElement.parentElement.removeChild(e.target.parentElement);
			}
		});
	</script>
{% endblock %}