<!doctype html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans" rel="stylesheet">
    {% block head_extras %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}

</head>
<body>
  <header>
    <section class="section--nav">
      <nav class="nav">
        <ul class="nav__ul">
          <li class="nav__ul__li"><a href="{{ url_for('index') }}">Home</a></li>
          <li class="nav__ul__li"><a href="{{ url_for('catalog_books') }}">Books</a></li>
          <li class="nav__ul__li"><a href="{{ url_for('catalog_authors') }}">Authors</a></li>
          <li class="nav__ul__li"><a href="{{ url_for('catalog_genres') }}">Genres</a></li>
          {% if 'username' in session %}
            <li class="nav__ul__li"><a href="{{ url_for('user_account') }}">My Account</a></li>
          {% endif %}
        </ul>
      </nav>
    </section>
    <section class="section--session">
      <div class="session">
        <div class="session__status">
          <div class="session__login">
            {% if 'username' in session %}
              <a class="session__a" href="{{ url_for('gdisconnect') }}">Logout</a>
            {% else %}
              <a class="session__a" href="{{ url_for('login') }}">Login </a>
            {% endif %}
          </div>
        </div>
        <div class="session__user">
          <div class="session__name">
            {% if 'username' in session %}
              <h4 class="session__h4">Hi, {{ session['username'] }}!</h4>
            {% endif %}
          </div>
          {% if session['picture'] %}
            <div class="session__picture">
              <img class="session__img" src="{{ session['picture'] }}" alt="" />
            </div>
          {% endif %}
        </div>
      </div>
    </section>
  </header>
  <section class="section--main">
    <div class="main">
      {% block content %}{% endblock %}
    </div>
  </section>
</body>
</html>