<!doctype html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head_extras %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('catalog_books') }}">Books</a></li>
      <li><a href="{{ url_for('catalog_authors') }}">Authors</a></li>
      <li><a href="{{ url_for('catalog_genres') }}">Genres</a></li>
      {%if 'username' in session %}
        <li><a href="{{ url_for('user_account') }}">My Account</a></li>
      {% endif %}
    </ul>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>