<!doctype html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans" rel="stylesheet">
    {% block head_extras %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <header>
    <section class="section--nav">
      <nav class="nav">
        <ul class="nav__ul">
          <li class="nav__ul__li"><a href="{{ url_for('index') }}">Home</a></li>
          <li class="nav__ul__li"><a href="{{ url_for('catalog_books') }}">Books</a></li>
          <li class="nav__ul__li"><a href="{{ url_for('catalog_authors') }}">Authors</a></li>
          <li class="nav__ul__li"><a href="{{ url_for('catalog_genres') }}">Genres</a></li>
          {% if 'username' in session %}
            <li class="nav__ul__li"><a href="{{ url_for('user_account') }}">My Account</a></li>
          {% endif %}
        </ul>
      </nav>
    </section>
    <section class="section--login">
      <div class="login">
        {% if 'username' in session %}
          <p class="login__p">Hello, {{ session['username'] }}</p>
          <a href="{{ url_for('gdisconnect') }}" class="login__a">Logout </a>
        {% else %}
          <a href="{{ url_for('login') }}" class="login__a">Login </a>
        {% endif %}
      </div>
    </section>
  </header>
  {% block content %}{% endblock %}
</body>
</html>