{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item_edit.css') }}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}{{ book.title }} -- Edit{% endblock %}

{% block content %}
{% include "includes/flash.html" %}
	<div class="item-edit item-edit--book">
		<form action="" method="POST" name="book_edit">
			<h1 class="item-edit__h1">Edit <br/>{{ book.title }}</h1>
			<div class="item-edit__description">
				<ul class="item-edit__ul">
					<li class="item-edit__ul__li"><label for="title">Title</label>: <input type="text" class="item-edit__input" name="title" placeholder="{{ book.title }}"></li>
					<li class="item-edit__ul__li"><label for="cover">Cover</label>:  <input type="text" class="item-edit__input" name="cover" placeholder="{{ book.cover }}"></li>
					<li class="item-edit__ul__li"><label for="description">Description</label>:  <textarea class="item-edit__textarea" name="description" placeholder="{{ book.description }}"></textarea></li>
				</ul>
			</div>
			<div class="item-edit__authors">
				<h3 class="item-edit__h3">Authors</h3>
				<button class="button button--add" id="add_author">ADD</button>
				<ul class="item-edit__ul" id="ul_author">
					<li class="item-edit__ul__li hidden" id="select_author">
						<select name="author" class="item-edit__select">
						<option value="">Select an author</option>
						{% for author in authors %}
							<option value="{{ author.id }}">{{ author.full_name }}</option>
						{% endfor %}
						</select>
					</li>
					{% for author in book.authors %}
						<li class="item-edit__ul__li" id="author_{{ author.id }}" data-id="{{ author.id }}">{{ author.full_name }} <button class="button button--delete remove_author">X</button></li>
					{% endfor %}
				</ul>
			</div>
			<div class="item-edit__genres">
				<h3 class="item-edit__h3">Genres</h3>
				<button class="button button--add" id="add_genre">ADD</button>
				<ul class="item-edit__ul" id="ul_genre">
					<li class="item-edit__ul__li hidden" id="select_genre">
						<select name="genre" class="item-edit__select">
						<option value="">Select a genre</option>
						{% for genre in genres %}
							<option value="{{ genre.id }}">{{ genre.type }}</option>
						{% endfor %}
						</select>
					</li>
					{% for genre in book.genres %}
						<li class="item-edit__ul__li" id="genre_{{ genre.id }}" data-id="{{ genre.id }}">{{ genre.type }} <button class="button button--delete remove_genre">X</button></li>
					{% endfor %}
				</ul>
			</div>
			<div class="item-edit__buttons">
				<button class="button button--cancel"><a href="{{ url_for('catalog_book', id = book.id) }}">Cancel</a></button>
				<input class="button button--send" name="sendo" type="Submit" value="Submit" id="submit_edit">
			</div>
		</form>
	</div>
	<script>
		// Function: add new li item on 'Add' button click
		function add_button(elem) {
			let li_item = document.querySelector(elem);
			let new_item = li_item.cloneNode(true);
			new_item.classList.toggle('hidden');
			li_item.parentNode.appendChild(new_item);
		}

		let ul_author = document.querySelector("#ul_author");
		let add_author = document.querySelector("#add_author");

		// Click event to add author select option
		add_author.addEventListener("click", function(e){
			e.preventDefault();
			add_button("#select_author")
		});

		let ul_genre = document.querySelector("#ul_genre");
		let add_genre = document.querySelector("#add_genre");

		// Click event to add genre select option
		add_genre.addEventListener("click", function(e){
			e.preventDefault();
			add_button("#select_genre")
		});

		let author_remove_list = []

		// Click event to remove current authors from book.authors list
		let remove_authors = document.querySelectorAll(".remove_author");
		remove_authors.forEach(function(elem){
			elem.addEventListener("click", function(e){
				e.preventDefault()

				// get list-item of author to be removed
				let parent_li = e.target.parentNode;
				let auth_id = this.parentNode.dataset.id;

				// add author id to author_remove_list array
				author_remove_list.push(auth_id)
				console.log("Authors to remove: " + author_remove_list)

				// remove author li from book.authors ul
				parent_li.parentNode.removeChild(parent_li);
			})
		});

		let genre_remove_list = []

		// Click event to remove current genres from book.genres list
		let remove_genres = document.querySelectorAll(".remove_genre");
		remove_genres.forEach(function(elem){
			elem.addEventListener("click", function(e){
				e.preventDefault()

				// get list-item of genre to be removed
				let parent_li = e.target.parentNode;
				let auth_id = this.parentNode.dataset.id;

				// add genre id to genre_remove_list array
				genre_remove_list.push(auth_id)
				console.log("Genres to remove: " + genre_remove_list)

				// remove genre li from book.authors ul
				parent_li.parentNode.removeChild(parent_li);
			})
		});

		// JavaScript-enable form submit
		let submit_button = document.querySelector('#submit_edit');
		submit_button.addEventListener("click", function(e){
			e.preventDefault()

			// AJAX POST request to remove authors from book.authors list
			let x = 0;
			while (x < author_remove_list.length) {
				console.log("Removing author #" + author_remove_list[x] + " from book list");
				$.ajax({
					type: 'POST',
					url: '/catalog/book/{{ book.id }}/author/' + author_remove_list[x] + '/remove',
					processData: false,
					data: '',
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result) {
						if (result) {
							console.log("Removed author #" + author_remove_list[x] + " from book list");
						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							console.log('Failed to make a server-side call. Check your configuration and console.');
						}
					}

				});

				x += 1;
			}

			// AJAX POST request to remove genres from book.genres list
			x = 0;
			while (x < genre_remove_list.length) {
				console.log("Removing genre #" + genre_remove_list[x] + " from book list");
				$.ajax({
					type: 'POST',
					url: '/catalog/book/{{ book.id }}/genre/' + genre_remove_list[x] + '/remove',
					processData: false,
					data: '',
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result) {
						if (result) {
							console.log("Removed genre #" + genre_remove_list[x] + " from book list");
						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							console.log('Failed to make a server-side call. Check your configuration and console.');
						}
					}

				});

				x += 1;
			}

			document.forms['book_edit'].submit()
		})

	</script>
{% endblock %}