{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
{% endblock %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
	{% include "includes/flash.html" %}
	<div class="item item--book">
		<div class="item__head">
			<h1 class="item__h1">{{ book.title }}</h1>
			<div class="item__edit">
				<button class="button button--edit"><a href="{{ url_for('edit_book', id = book.id) }}">EDIT</a></button>
				<button class="button button--delete"><a href="{{ url_for('delete_book', id = book.id) }}">DELETE</a></button>
			</div>
		</div>
		<div class="item__user">
			{% if user %}
				{% if book in user.library %}
					<button class="button button--delete">
							<a href="{{ url_for('delete_library', id = book.id) }}">REMOVE FROM LIBRARY</a>
					</button>
				{% else %}
					<button class="button button--add">
							<a href="{{ url_for('add_library', id = book.id) }}">ADD TO LIBRARY</a>
					</button>
				{% endif %}
				{% if book in user.wishlist %}
					<button class="button button--delete">
							<a href="{{ url_for('delete_wishlist', id = book.id) }}">REMOVE FROM WISHLIST</a>
					</button>
				{% else %}
					<button class="button button--add">
							<a href="{{ url_for('add_wishlist', id = book.id) }}">ADD TO WISHLIST</a>
					</button>
				{% endif %}
			{% endif %}
			</div>
		<div class="item__cover">
			<img class="item__img" src="{% if book.cover %}{{ book.cover }}{% else %}#{% endif %}" alt="" />
		</div>
		<div class="item__profile">
			<div class="item__description">
				<h3 class="item__h3">Description</h3>
				{% if book.description %}
					<p class="item__p">{{ book.description }}</p>
				{% else %}
					<p class="item__p"><i>This book has no current description.</i></p>
				{% endif %}
			</div>
			<div class="item__authors">
				<h3 class="item__h3">Authors</h3>
				<ul class="item__ul">
					{% if book.authors %}
						{% for author in book.authors %}
							<li class="item__ul__li"><a class="item__a" href="{{ url_for('catalog_author', id = author.id) }}">{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }}</a></li>
						{% endfor %}
					{% else %}
						<li class="item__ul__li"><i>This book has no current authors.</i></li>
					{% endif %}
				</ul>
			</div>
			<div class="item__genres">
				<h3 class="item__h3">Genres</h3>
					<ul class="item__ul">
						{% if book.genres %}
							{% for genre in book.genres %}
							<li class="item__ul__li"><a class="item__a" href="{{ url_for('catalog_genre', id = genre.id) }}">{{ genre.type }}</a></li>
							{% endfor %}
						{% else %}
							<li class="item__ul__li">This book has no current genres</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}