{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item_create.css') }}">
{% endblock %}

{% block title %}Book -- Create{% endblock %}

{% block content %}
{% include "includes/flash.html" %}
	<div class="create create--book">
		<h1 class="create__h1">CREATE A BOOK</h1>
		<form action="" method="POST">
			<div class="create__description">
				<h3 class="create__h3">Bio</h3>
				<ul class="create__ul">
					<li class="create__ul__li"><label for="title">Title</label>: <input type="text" name="title" class="create__input" placeholder="Book Title"></li>
					<li class="create__ul__li"><label for="cover">Cover</label>: <input type="text" name="cover" class="create__input" placeholder="Cover Image URL"></li>
					<li class="create__ul__li"><label for="description">Description</label>: <textarea name="description" id="" class="create__textarea" rows="5" placeholder="Book Description"></textarea>
					</li>
				</ul>
			</div>
			<div class="create__authors">
				<h3 class="create__h3">Authors</h3>
				<button class="button button--add" id="add_author">ADD</button>
				<ul class="create__ul" id="ul_author">
					<li class="create__ul__li" id="book_author">
						<select class="create__select" name="author" id="">
						<option class="create__option" value="">Select an author</option>
						{% for author in authors %}
							<option class="create__option" value="{{ author.id }}">{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }}</option>
						{% endfor %}
						</select>
					</li>
				</ul>
			</div>
			<div class="create__genres">
				<h3 class="create__h3">Genres</h3>
				<button class="button button--add" id="add_genre">ADD</button>
				<ul class="create__ul" id="ul_genre">
					<li class="create__ul__li" id="book_genre">
						<select class="create__select" name="genre" id="">
						<option class="create__option" value="">Select a genre</option>
						{% for genre in genres %}
							<option class="create__option" value="{{ genre.id }}">{{ genre.type }}</option>
						{% endfor %}
						</select>
					</li>
				</ul>
			</div>
			<button class="button button--cancel"><a href="{{ url_for('catalog_books') }}">Cancel</a></button>
			<input class="button button--send" type="submit" value="Create">
		</form>
	</div>
	<script>
		let book_genre = document.querySelector("#book_genre");
		let add_genre = document.querySelector("#add_genre");

		add_genre.addEventListener("click", function(e){
			e.preventDefault();
			addLI(book_genre)
		});

		let book_author = document.querySelector("#book_author");
		let add_author = document.querySelector("#add_author");

		add_author.addEventListener("click", function(e){
			e.preventDefault();
			addLI(book_author)
		});

		function addLI(el) {
			let newLi = el.cloneNode(true);
			newLi.innerHTML += '<button class="button button--delete">X</button>'
			el.parentElement.appendChild(newLi);
		}

		document.addEventListener("click", function(e){
			if (event.target.classList.contains('button--delete')) {
				e.preventDefault();
				e.target.parentElement.parentElement.removeChild(e.target.parentElement);
			}
		});
	</script>
{% endblock %}

<!-- Change .book_genre to #book_genre? and .book_author to #book_author? -->