<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ book.title }}</title>
</head>
<body>
	<h1>{{ book.title }}</h1>
	<p><span class="edit"><a href="/catalog/book/{{ book.id }}/edit">EDIT</a></span> <span class="delete"><a href="/catalog/book/{{ book.id }}/delete">DELETE</a></span></p>
	<div>
		{% if book.cover %}
		<img src="{{ book.cover }}" alt="" />
		{% endif %}
	</div>
	<div>
		<ul>
			<li>Author(s):
				<ul>
					{% if book.authors %}
						{% for author in book.authors %}
						<li><a href="{{ url_for('catalog_author', id = author.id) }}">{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }}</a></li>
						{% endfor %}
					{% else %}
						<li><i>This book has no current authors</i></li>
					{% endif %}
				</ul>
			</li>
			<li>Description: {{ book.description }}</li>
			<li>Genres:
				<ul>
					{% if book.genres %}
						{% for genre in book.genres %}
						<li>{{ genre.type }}</li>
						{% endfor %}
					{% else %}
						<li>This book has no current genres</li>
					{% endif %}
				</ul>
			</li>
		</ul>
	</div>
	<div>
		<p>Add to Library</p>
		<p>Add to Wishlist</p>
	</div>
</body>
</html>