<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Gladiator -- Create</title>
</head>
<body>
	<h1>CREATE A GLADIATOR</h1>
	<form action="/" method="POST">
		<label for="">Name</label>: <input type="text" name="name">
		<input type="radio" id="female" name="gender" checked />
			<label for="female">Female</label>
		<input type="radio" id="male" name="gender" />
			<label for="male">Male</label>
		<label for="">Image</label>: <input type="text" name="image" placeholder="Add an image path">
		<label for="">Hairdo</label>: <select name="" id="">
			<option value=""></option>
		</select>
		<label for="">Signature Event</label>: <select name="main_event" id="">
			<option value=""></option>
		</select>
		<label for="">Secondary Event</label>: <select name="secondary_event" id="">
			<option value=""></option>
		</select>
		<label for="">Favorite Accessory</label>: <select name="accessory" id="">
			<option value=""></option>
		</select>
		<button><a href="#">Cancel</a></button>
		<input type="submit" value="Create">
	</form>
</body>
</html>