{% extends "base.html" %}

{% block title %}Catalog -- Books{% endblock %}

{% block content %}
	<h1>BOOKS</h1>
	<p><a href="{{ url_for('create_book') }}">ADD A BOOK</a></p>
	{% if books %}
		{% for book in books %}
			<p><a href="{{ url_for('catalog_book', id = book.id) }}">{{ book.title }}</a>
        {% if user %}
          {% if book in user.library %}
            <a href="{{ url_for('delete_library', id = book.id) }}"><span>REMOVE FROM LIBRARY</span></a>
          {% else %}
            <a href="{{ url_for('add_library', id = book.id) }}"><span>ADD TO LIBRARY</span></a>
          {% endif %}
          {% if book in user.wishlist %}
            <a href="{{ url_for('delete_wishlist', id = book.id) }}"><span>REMOVE FROM WISHLIST</span></a>
          {% else %}
            <a href="{{ url_for('add_wishlist', id = book.id) }}"><span>ADD TO WISHLIST</span></a>
          {% endif %}
        {% endif %}
      </p>
		{% endfor %}
	{% else %}
		<p><i>There are no books in the catalog at this time.</i></p>
	{% endif %}
{% endblock %}