{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog_category.css') }}">
{% endblock %}

{% block title %}Catalog -- Authors{% endblock %}

{% block content %}
  {% include "includes/flash.html" %}
  <div class="c">
    <div class="c-title">
      <h1 class="c__h1">AUTHORS</h1>
    </div>
    <div class="c-add">
      <button class="button button--add"><a class="c-add__a" href="{{ url_for('create_author') }}">CREATE AN AUTHOR</a></button>
    </div>
    <div class="c-cat">
      <ul class="c-cat__ul">
        {% if authors %}
          {% for author in authors %}
            <li class="c-cat__ul__li"><a href="{{ url_for('catalog_author', id = author.id) }}">{{ author.full_name }}</a></li>
          {% endfor %}
        {% else %}
          <li class="c-cat__ul__li"><i>There are no authors in the catalog at this time.</i></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}