{% extends "base.html" %}

{% block title %}Genre -- {{ genre.type }}{% endblock %}

{% block content %}
	{% include "includes/flash.html" %}
	<h1>Genre – {{ genre.type }}</h1>
	<p><span class="edit"><a href="{{ url_for('edit_genre', id = genre.id) }}">EDIT</a></span> <span class="delete"><a href="{{ url_for('delete_genre', id = genre.id) }}">DELETE</a></span></p>
	<div>
		<ul>
			{% if genre.books %}
				{% for book in genre.books %}
					<li><a href="{{ url_for('catalog_book', id = book.id) }}">{{ book.title }}</a></li>
				{% endfor %}
			{% else %}
				<li><i>This genre has no books available in the database.</i></li>
			{% endif %}
		</ul>
	</div>
{% endblock %}