<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Genre - {{ genre.type }}</title>
</head>
<body>
	<h1>Genre – {{ genre.type }}</h1>
	<p><span class="edit"><a href="/catalog/genre/{{ genre.id }}/edit">EDIT</a></span> <span class="delete"><a href="/catalog/genre/{{ genre.id }}/delete">DELETE</a></span></p>
	<div>
		<ul>
			{% if genre.books %}
				{% for book in genre.books %}
					<li><a href="{{ url_for('catalog_book', id = book.id) }}">{{ book.title }}</a></li>
				{% endfor %}
			{% else %}
				<li><i>This genre has no books available in the database.</i></li>
			{% endif %}
		</ul>
	</div>
</body>
</html>