{% extends "base.html" %}

{% block title %}Genre -- Create{% endblock %}

{% block content %}
	<h1>CREATE A GENRE</h1>
	<form action="" method="POST">
		<ul>
			<li><label for="type">Name</label>: <input type="text" name="type" placeholder="Genre Type"></li>
		</ul>
		<h3>Books</h3>
		<ul>
			<li class="genre_book">
				<select name="book" id="">
				<option value="">Select a book</option>
				{% for book in books %}
					<option value="{{ book.id }}">{{ book.title }}</option>
				{% endfor %}
				</select>
			</li>		
		</ul>
		<button><a href="{{ url_for('catalog_genres') }}">Cancel</a></button>
		<input type="submit" value="Create">
	</form>
{% endblock %}