{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Udacity Catalog Project - Index{% endblock %}

{% block content %}
{% include "includes/flash.html" %}
  <div class="index">
    <div class="index__head">
      <h1 class="index__h1">LIBRARY CATALOG</h1>
    </div>
    <div class="index__categories">
      <section class="section--genres">
        <div class="index__category index__category--genres">
          <h3 class="index__h3"><a class="index__a" href="{{ url_for('catalog_genres') }}">Genres</a></h3>
          <ul class="index__ul">
            {% if genres %}
              {% for genre in genres %}
                <li class="index__ul__li"><a href="{{ url_for('catalog_genre', id = genre.id) }}">{{ genre.type }}</a></li>
              {% endfor %}
            {% else %}
              <li class="index__ul__li"><i>There are no current genres in this database.</i></li>
            {% endif %}
          </ul>
        </div>
      </section>
      <section class="section--books">
        <div class="index__category index__category--books">
          <h3 class="index__h3"><a href="{{ url_for('catalog_books') }}">Books</a></h3>
          <ul class="index__ul">
            {% if books %}
              {% for book in books %}
                <li class="index__ul__li"><a class="index__a" href="{{ url_for('catalog_book', id = book.id) }}">{{ book.title }}</a></li>
              {% endfor %}
              {% else %}
                <li class="index__ul__li"><i>There are no current books in this database.</i></li>
            {% endif %}
          </ul>
        </div>
      </section>
      <section class="section--authors">
        <div class="section__category section__category--authors">
          <h3 class="index__h3"><a class="index__a" href="{{ url_for('catalog_authors') }}">Authors</a></h3>
          <ul class="index__ul">
            {% if authors %}
              {% for author in authors %}
                <li class="index__ul__li"><a class="index__a" href="{{ url_for('catalog_author', id = author.id) }}">{% if author.first_name %}{{ author.first_name }} {% endif %}{{ author.last_name }}</a></li>
              {% endfor %}
              {% else %}
              <li class="index__ul__li"><i>There are no current authors in this database.</i></li>
            {% endif %}
          </ul>
        </div>
      </section>
    </div>
  </div>
{% endblock %}