{% extends "base.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Udacity Catalog Project - Index{% endblock %}

{% block content %}
{% include "includes/flash.html" %}
  <div class="index">
    <div class="index__head">
      <h1 class="index__h1 index__h1--head">LIBRARY<br/>CATALOG</h1>
    </div>
    <div class="index__categories">
      <section class="section--genres">
        <div class="index__category index__category--genres">
          <h2 class="index__h2"><a class="index__a" href="{{ url_for('catalog_genres') }}">Genres</a></h2>
          <ul class="index__ul">
            {% if genres %}
              {% for genre in genres %}
                <li class="index__ul__li"><a href="{{ url_for('catalog_genre', id = genre.id) }}">{{ genre.type }}</a></li>
              {% endfor %}
            {% else %}
              <li class="index__ul__li"><i>There are no genres in this database right now.</i></li>
            {% endif %}
          </ul>
        </div>
      </section>
      <section class="section--books">
        <div class="index__category index__category--books">
          <h2 class="index__h2"><a href="{{ url_for('catalog_books') }}">Books</a></h2>
          <ul class="index__ul">
            {% if books %}
              {% for book in books %}
                <li class="index__ul__li"><a class="index__a" href="{{ url_for('catalog_book', id = book.id) }}">{{ book.title }}</a></li>
              {% endfor %}
              {% else %}
                <li class="index__ul__li"><i>There are no books in this database right now.</i></li>
            {% endif %}
          </ul>
        </div>
      </section>
      <section class="section--authors">
        <div class="section__category section__category--authors">
          <h2 class="index__h2"><a class="index__a" href="{{ url_for('catalog_authors') }}">Authors</a></h2>
          <ul class="index__ul">
            {% if authors %}
              {% for author in authors %}
                <li class="index__ul__li"><a class="index__a" href="{{ url_for('catalog_author', id = author.id) }}">{{ author.full_name }}</a></li>
              {% endfor %}
              {% else %}
              <li class="index__ul__li"><i>There are no authors in this database right now.</i></li>
            {% endif %}
          </ul>
        </div>
      </section>
    </div>
  </div>
{% endblock %}