<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ book.title }}</title>
</head>
<body>
	<h1>{{ book.title }}</h1>
	<p><span class="edit"><a href="/catalog/{{ book.id }}/edit">EDIT</a></span> <span class="delete"><a href="/catalog/{{ book.id }}/delete">DELETE</a></span></p>
	<div>
		{{ if book.cover }}
		<img src="{{ book.cover }}" alt="" />
		{{ endif }}
	</div>
	<div>
		<ul>
			<li>Author(s):
				<ul>
					{{ for author in book.authors }}
					<li>{{ author.full_name }}</li>
					{{ endfor }}
				</ul>
			</li>
			<li>Description: {{ book.description }}</li>
			<li>Genres:
				<ul>
					{{ for genre in book.genres }}
					<li>{{ genre.type }}</li>
					{{ endfor }}
				</ul>
			</li>
		</ul>
	</div>
	<div>
		<p>Add to Library</p>
		<p>Add to Wishlist</p>
	</div>
</body>
</html>